body{
    margin-top: 0;
    height: 100%;
    background-color: #553f92;
    background-image: url(../img/gatito\ racio.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
nav{
    background-color: #333;
    padding: 8px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    background-color:rgb(61,74 ,185) ;
}
nav ul li a:hover{
    color: chartreuse;
    background-color: blue
}
.titulo{
    color:blue;
    text-align: center;
}